python-dotenv==1.0.1
langchain-huggingface==0.3.1
langchain-community==0.3.27
langchain-openai==0.3.30
langchain==0.3.27
PyPDF2==3.0.1
chromadb==1.0.16
openai==1.99.9
streamlit==1.37.1
sentence-transformers==5.1.0
hnswlib==0.8.0
pysqlite3-binary
numpy==2.3.2
torch==2.8.0









